*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: black;
    height: 30px;
    top: 0px;
    position: fixed;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;


}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 10px;
    transition: all 1s ease;
}
li:hover a{
    color: rgb(0, 76, 240);
}
nav a{
    text-decoration: none;
    color: white;
}

table,th,td{
    border: 1px solid rgb(207, 207, 207);
    border-collapse: collapse;
    padding: 5px;
    justify-content: center;
}
#books, #form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
    border-radius: 3px;
    padding: 10px;
    margin-inline: auto;
    box-shadow: 0px 0px 68px 12px rgba(0,0,0,.126);
}
#books{
    margin-top: 100px;
}
form{
    margin-top: 10px;
}
input{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 3px;
    box-sizing: border-box;
}
input[type="submit"]{
    background-color: black;
    color: white;
}